#div1{
    width: 80vw;
    height: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
 #div1 #div2{
    width: 10%;
    height: 10px;
    background-color: aqua;
    border-radius: 20px;
    /*animation: progressBAR 10s ease-in 3s infinite normal;*/
    animation-name: progressBAR;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

@keyframes progressBAR{
    0%{ 
        width: 0%;
    }
    90%{
        width: 95%;
    }
    95%{
        width: 90%;
    }
    100%{
        width: 100%;
    }
}